@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Jura:wght@300..700&display=swap');

#nav-bar {
    background-color: #D9D9D985;
    height: 69px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    background-image: url("Pictures/Background_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;     
    background-position: center;
    background-color: black;
}

.nav-button {
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: white 1px solid;
    font-size: 25px;
    font-family: 'Jura';
    font-weight: 400;
}

#BTD {
    height: 100%;
    width: 33%;
}

#BTD:hover {
    background-color: white;
    color: black;
    transition: ease-in-out 0.5s;
}

#FND {
    height: 100%;
    width: 34%;
    border-left: white 1px solid;
}

#FND:hover {
    background-color: white;
    color: black;
    transition: ease-in-out 0.5s;
}

#CWE {
    height: 100%;
    width: 33%;
    border-left: white 1px solid;
}

#CWE:hover {
    background-color: white;
    color: black;
    transition: ease-in-out 0.5s;
}

#heading {
    color: white;
    width: 628px;
    height: 54px;
    font-family: "Encode Sans Condensed";
    margin-top: 181px;
    margin-left: 67px;
    font-weight: 800;
    font-size: 43px;
}

#subhead {
    width: 600px;
    height: 28px;
    color: #FFFFFF;
    font-family: "Encode Sans Condensed";
    margin-left: 67px;
    font-size: 22px;
}

.content-box {
    margin: auto;
    width: 1144px;
    height: 473px;
}

#up {
    background-color: rgba(64, 165, 207, 0.46);
    height : 79px;
    
}

#down {
    background-color: rgba(217, 217, 217, 0.1);
    height: 394px;
}